.the-body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

.no-scroll {
    overflow-y: hidden !important;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

div {
    outline: none;
}

@import "navbar";
@import "landingDiv";
@import "carouselDiv";
@import "aboutUsDiv";
@import "aboutProject";
@import "footer";