body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

div {
    outline: none;
}

@import "navbar";
@import "landingDiv";
@import "carouselDiv";
@import "aboutUsDiv";
@import "aboutProject";