// Body
$body-bg: white;
$dark-bg: #404040;
$dark-white-color: #BAB9B2;
$blue-color: #59C2D1;
$md-height: 100vh; // master-div-height
$md-width: 100vw; // master-div-width;
$tr-time: 0.5s; // trasnsition duration